<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row g-3">
  
      
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
            <div class="card" style="width: 18rem;">
                <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/bgkrd3mjamli0zkizgcx" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ice cream scoop</h5>
                  <p class="card-text">₹70</p>
           
            <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
  
        </div>
  
      
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
          <div class="card" style="width: 18rem;">
              <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/ycarvwgwhegavwjluyxe" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bamboo coffe</h5>
                <p class="card-text">₹40</p>
      
          <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
  
      </div>
  
        
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
        <div class="card" style="width: 18rem;">
            <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/jsd3agz35akz06uws3be" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Made in oven</h5>
              <p class="card-text">₹90</p>
     
        <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
  
    </div>
  
    
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
      <div class="card" style="width: 18rem;">
          <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/tqocgtgvqnfuh1rjsvow" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Momo Ninja </h5>
            <p class="card-text">₹140</p>
     
      <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/lu0fpjpqx1kdvelcz2ua" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dhaba 75 </h5>
          <p class="card-text">₹120</p>
   
    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mcwnuw4syc1mjjxppmiz" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Charminar biriyani </h5>
          <p class="card-text">₹150</p>

    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fy1yrfedhbccvmuyee4z" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Salad o </h5>
          <p class="card-text">₹130</p>
   
    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/vovv81017wm9asmsxbn1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Royal Lunch home </h5>
          <p class="card-text">₹120</p>

    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/rzhk58ncg9pww8aholme" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brainfreeze shake </h5>
          <p class="card-text">₹160</p>
    
    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/rx72gdti6j5nozxhrdn8" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Andhra home biryani </h5>
          <p class="card-text">₹120</p>
  
    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/qkfqoz0jpxvt21ife2z9" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rolling joint </h5>
          <p class="card-text">₹110</p>
   
    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
  
    <div class="card" style="width: 18rem;">
        <img height=200px src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/tnfo6f5ynpieohffwprs" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Roti express </h5>
          <p class="card-text">₹170</p>
    
    <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
  
  </div>
  
  
  
        
    </div>
  </div>
  