<app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="row g-5 pt-5">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

        <div class="card" style="width: 18rem;">
          <img height="200px"
            src="https://img.etimg.com/thumb/msid-74440369,width-650,imgsize-665048,,resizemode-4,quality-100/online-order_istock.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Orders</p>
          </div>
        </div>

      </div>
      <div class="col-col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

        <div class="card" style="width: 18rem;">
          <img height="200px"
            src="https://thumbs.dreamstime.com/b/wishlist-hand-drawn-vector-lettering-isolated-white-background-motivation-phrase-design-poster-greeting-card-photo-album-145269082.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Wishlist</p>
          </div>
        </div>

      </div>
      <div class="col-col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

        <div class="card" style="width: 18rem;">
          <img height="200px" src="https://ps.w.org/add-coupon-by-link-for-woocommerce/assets/icon.svg?rev=2571233"
            class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Coupen</p>
          </div>
        </div>

      </div>
      <div class="col-col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

        <div class="card" style="width: 18rem;">
          <img height="200px" src="https://cdn-icons-png.flaticon.com/512/682/682055.png" class="card-img-top"
            alt="...">
          <div class="card-body">
            <p class="card-text">Help.</p>
          </div>
        </div>

      </div>
      <div class="col-col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">



      </div>
      <div class="col-col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">



      </div>
    </div>
  </div>
